body {
  background-color: gray;
}

.cards {
  padding-top: 20px;
}

.card p {
  display: inline;
  outline: 2px solid white;
  color: white;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
