/* Reset CSS */
img,
picture {
  display: block;
  max-width: 100%;
}

body {
  background-color: green;
}

.field {
  border: 8px solid brown;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #5e3b12;
}
